.cg_wpp_header {
  background: #474747;
  margin-top: -10px;
  padding: 19px 25px 15px 25px;
  width: 100%;
  height: 42px;
  margin-left: -20px;
}

#cgadmin-content {
  padding: 15px 7px 15px 7px;
}

.cg_wpp_bottom_area_reset_data {
  float: left;
  width: 1120px;
}

.cg_wpp_bottom_area_reset_data p {
  margin-bottom: 0px !important;
}

#codeguard_inline_error {
  display: none;
  font-weight: bold;
  width: 80%;
  background-color: #FFEBE8;
  margin: 4px;
  padding: 4px;
  border-color: #CC0000;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
}

#wpbody-content #codeguard_signup {
  background: #F8F8F8 url('https://www.codeguard.com/images/cg_wpp_shield.png') no-repeat 1% 15%;
  border: 1px solid #CCC;
  padding: 0px 10px 0px 60px;
}

#wpbody-content #codeguard_signup p {
  margin: 0px 0px 10px 0px;
}

#wpbody-content #codeguard_signup a {
  text-decoration: none;
  color: #8cc640;
}

#wpbody-content #codeguard_signup a:hover {
  text-decoration: underline;
}

#cgadmin-content, #cgadmin-content p {
  font-family: Helvetica, sans-serif !important;
  font-size: 13px !important;
  line-height: 22px !important;
  color: #616260 !important;
  font-weight: 100 !important;
}

#cgadmin-content p {
  margin-bottom: 33px;
}

#cgadmin-content h1, #cgadmin-content h1 span {
  font-family: Helvetica, sans-serif;
  color: #646464;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 31px;
  border: none;
}

#cgadmin-content h2, #cgadmin-content h2 span {
  font-family: Helvetica, sans-serif;
  color: #464646;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: -5px;
  border: none;
}

#cgadmin-content h1 span, #cgadmin-content h2 span {
  color: #8ece39 !important;
}

#cgadmin-content .cg_wpp_middle_area {
  float: left;
  margin-bottom: 15px;
}

#cgadmin-content .cg_wpp_middle_area div {
  float: left;
  width: 315px;
  margin-right: 45px;
}

#cgadmin-content .cg_wpp_bottom_area {
  float: left;
  width: 1120px;
  height: 240px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#cgadmin-content .cg_wpp_bottom_area a , #cgamin-content a, a#cg_wpp_a {
  text-decoration: none;
  color: #8cc640;
}

#cgadmin-content .cg_wpp_bottom_area a:hover, #cgamin-content a:hover, a#cg_wpp_a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cg_wpp_submit {
  border: none !important;
  float: right;
  position: relative;
  top: -113px;
  height: 17px;
  right: 330px;
}

textarea#codeguard-tokens-combined {
  background: #ECECEC;
  border: 1px solid #CCC;
  border-radius: 0px;
  width: 500px;
}

#codeguard-tokens-form p:nth-child(odd) {
  margin-top: -1px;
}

div.cg_wpp_backup h2 { background: url('https://www.codeguard.com/images/ico_cgwpp_backup.png') no-repeat 0% 60%; padding-left: 33px; }
div.cg_wpp_monitor h2 { background: url('https://www.codeguard.com/images/ico_cgwpp_monitor.png') no-repeat 0% 60%; padding-left: 33px; }
div.cg_wpp_restore h2 { background: url('https://www.codeguard.com/images/ico_cgwpp_restore.png') no-repeat 0% 60%; padding-left: 33px; }

#special_widget_h1 {
  margin-top: 0px;
}

#cg_wpp_button {
  color: #fff !important;
  text-decoration: none;
  background: #9ed456;
  font-size: 13px;
  text-transform: uppercase;
  padding: 15px 40px;
  text-shadow: 1px 1px 0px #7ca471;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#cg_wpp_button:hover {
  cursor: pointer;
  background: #eb7e48;
  text-shadow: 1px 1px 0px #8f5a32;
  text-decoration: none !important;
}

#cgadmin-content .cg_wpp_top_area {
  margin-bottom: 15px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 40px;
  height: 240px;
  width: 1115px;
  background: url('https://www.codeguard.com/images/illustration_guys.png') no-repeat 93% 64%;
}

#cgadmin-content .cg_wpp_top_area .cg_wpp_top_intro {
  float: left;
  width: 580px;
}

#cgadmin-content .cg_wpp_top_area .cg_wpp_video {
  position: relative; left: 165px; top: -5px;
}

#cgadmin-content .cg_wpp_top_area .cg_wpp_video iframe {
  border: 10px solid #f3f3f3;
  position: relative;
  top: 15px;
  right: 60px;
}

/* dashboard widget styles */

#cgadmin-content .cg_wpp_dashboard {
  background: #ECECEC;
  border-bottom: 1px solid #C7C7C7;
  height: 50px;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -15px;
  left: -26px;
  width: 100%;
  padding-right: 60px;
}

#cgadmin-content .cg_wpp_dashboard .wrap_left_stuff {
  background: transparent url('https://www.codeguard.com/images/arrow_more_info.png') no-repeat 100% 25%;
  display: block;
  width: 560px;
  float: left;
}

#cgadmin-content .cg_wpp_dashboard h3 {
  background: url('https://www.codeguard.com/images/ico_cgwpp_dashboard_h3.png') no-repeat 0% 57%;
  font-family: Helvetica, sans-serif;
  color: #464646;
  font-weight: 100;
  margin-bottom: 20px;
  padding: 0px 0px 0px 26px;
  text-shadow: 1px 1px 0px white;
  font-size: 18px;
  line-height: 31px;
  padding-top: 0px;
  margin-left: 25px;
  width: 160px;
  float: left;
  position: relative;
  top: -8px;
}

#cg_wpp_visit {
  position: relative; top: 9px;
  float: left;
}

#cg_wpp_visit:hover {
  cursor: pointer;
  opacity: 0.9;
}

p.cg_wpp_status {
  float: right;
  position: relative;
  top: -13px;
  left: 20px;
  width: 100px;
  line-height: 11px;
  background: url('https://www.codeguard.com/images/ico_cgwpp_check.png') no-repeat 100% 83%
}

p.cg_wpp_status strong {
  position: relative; top: 6px;
}

#cgadmin-content h1 span.cg_wpp_time_span {
  color: #b7b6b6 !important;
  font-size: 17px !important;
}

h5#special_h5 {
  font-family: Helvetica, sans-serif;
  color: #646464;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 31px;
  border: none;
  position: relative;
  top: -10px;
}

h5#special_h52 {
  position: relative;
  top: -10px;
  font-family: Helvetica, sans-serif;
  color: #646464;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 31px;
}

#cgadmin-content div.cg_wpp_table {
  border-bottom: 1px solid #CCC;
  height: 200px;
}

#cgadmin-content div.cg_wpp_table table {
  width: 1100px;
  position: relative; top: -30px;
  border: 1px solid #d7d7d7;
  height: 100px;
  color: #949393;
  font-style: italic;
}

#cgadmin-content div.cg_wpp_table table tr td span {
  color: #737373;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}

#tr_top {
  background: #edecec;
  border: 1px solid #e3e3e3;
  height: 30px;
  font-weight: 500;
  font-size: 12px;
  font-style: none;
  color: #545454;
}

#cgadmin-content div.cg_wpp_table table tr td {
  border-right: 1px solid #ccc;
  padding: 5px;
}

#cgadmin-content div.cg_wpp_table table tr td:nth-child(6) {
  border: none;
}

#cgadmin-content h4{
  font-family: Helvetica, sans-serif;
  color: #646464;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 31px;
}

h1.cg_wpp_special_h1 {
  position: relative; top: -35px;
  margin-bottom: -20px !important;
}

h1#error {
  margin-top: 0px;
}

h1#error span {
  color: #db6633 !important
}

.cg_nospacer {
  position: relative; top: -40px;
  font-size: 13px !important;
  width: 1100px;
}

/* error page */

#cgadmin-content div.codeguard_widget_section {
  float: left;
  width: 100%;
}

/* bottom area dashboard */

.cg_wpp_bottom_dashboard {
}

#cgadmin-content a {
  text-decoration: none;
  color: #8cc640;
}

#cgadmin-content a:hover {
  text-decoration: underline;
}

#cgadmin-content p.tiny_header {
  color: #8ece39 !important;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  position: relative; top: 18px;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 10px !important;
}

.cg_wpp_bottom_dashboard div p {
  width: 600px;
  color: #7e7e7e;
  font-weight: 100;
  margin-top: 15px;
}

.cg_wpp_bottom_dashboard div {
  margin-bottom: 30px;
  width: 1200px;
}

.cg_wpp_bottom_dashboard div:nth-child(1) {
  background: url("https://www.codeguard.com/images/graph.png") no-repeat 80% 70%;
}

.cg_wpp_bottom_dashboard div:nth-child(2) {
  background: url("https://www.codeguard.com/images/files_monitor.png") no-repeat 80% 90%;
}

.cg_wpp_bottom_dashboard div:nth-child(3) {
  background: url("https://www.codeguard.com/images/restore.png") no-repeat 80% 100%;
}

.cg_wpp_bottom_dashboard div img {
  float: right;
  right: 10px;
}